#input {
    display: flex;
    gap: 40px;
}

.quiz-container {
    width: fit-content;
}

#quiz {
    width: 100px;
}

#goal {
    width: 100px;
}

#trial {
    width: 30px;
}

.puzzle td {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    text-align: center;
}

.puzzle .puzzle-1 {
    background: #db332a;
    color: #fafafa;
}

.puzzle .puzzle-1::before {
    content: "1";
}

.puzzle .puzzle-2 {
    background: #0381fe;
    color: #fafafa;
}

.puzzle .puzzle-2::before {
    content: "2";
}

.puzzle .puzzle-3 {
    background: #14a866;
    color: #fafafa;
}

.puzzle .puzzle-3::before {
    content: "3";
}

.puzzle .puzzle-4 {
    background: #fafafa;
    color: #010101;
}

.puzzle .puzzle-4::before {
    content: "4";
}

.puzzle .puzzle-x,
.puzzle .puzzle-unknown {
    background: transparent;
    border: unset;
}

.puzzle .puzzle-x::before {
    content: "❌";
}